p{
    background-color: red;
}

.back{
    width: 50;
    height: 50;
    horizontal-align: left;
    background-color: rgb(167, 180, 255);
    font-weight: bold;
    font-size: xx-large;
    color: white;
    content: ' \003C';
  }